@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    font-family: 'Prompt', sans-serif;
}

.top-bar {
    background-color: #f1f1f1;
    overflow: hidden;
}

.top-bar a {
    float: right;
    display: block;
    color: grey;
    font-weight: 700;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}


.top-bar a:hover {
    color: black;
}

.logo {
    text-align: left;
    margin-top: 50px;
}
.logo h1 {
    color: #00E45B;
    font-size: 45px;
    margin-top: -15px;
}

.logo h5 {
    color: #000000;
    font-size: 25px;
}


.header-content {
    margin-top: 15px;
}

.header-btn {
    margin-top: 30px;
}
.signin { 
    background:#36D23D;
    color: #000000;
    padding:.50rem 5rem ;
}

.login {
    background:#A1A1A1;
    color: #000000;
    padding:.50rem 5.4rem ;
}
.info {
    text-align: center;
    max-width: 1000px ;
    margin: 0 auto ;
}
