@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    font-family: 'Prompt', sans-serif;
}

.container {
    max-width: 1290px ;
    margin: 0 auto ;
}


nav ul {
    margin-top: 50px;
    display: flex;
    list-style: none;
    width: 600px;
}

nav ul li {
    margin-right: 90px;
    color: #000000;
}

.logo {
    text-align: left;
}
.logo h1 {
    color: #00E45B;
    font-size: 45px;
    margin-top: -15px;
}

.logo h5 {
    color: #000000;
    font-size: 25px;
}

.header-info {
    margin-top: 50px;
}
.header-content {
    margin-top: 15px;
}

.header-btn {
    margin-top: 30px;
}
.signin { 
    background:#36D23D;
    color: #000000;
    padding:.50rem 5rem ;
}

.login {
    background:#A1A1A1;
    color: #000000;
    padding:.50rem 5.4rem ;
}
