body {
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: #f1f1f1;
    overflow: hidden;
}

.top-bar a {
    float: right;
    display: block;
    color: grey;
    font-weight: 700;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.top-bar a:hover {
    color: black;
}

.info-form {
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ccc;
    margin-top: 50px;
}

.info-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}

.info-form form select {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
}

.info-form input[type=text] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
}

.info-form input[type=number] {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
}

.info-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
}

.info-form button:hover {
    cursor: pointer;
}
